.create {
  background-image: url("./home-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 100%;
  overflow: hidden;
  scroll-behavior: hidden;
  color: #fff;
  padding-top:60px;
}

.create-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top:15px;
}

.create h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top:15px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.name {
  background: transparent;
  border-radius: 10px;
  height: 30px;
  color: #fff;
  margin-top: 20px;
}

.genres {
  background: transparent;
  border-radius: 10px;
  color: #fff;
  height: 150px;
  margin-top: 20px;
}

.platforms {
  background: transparent;
  border-radius: 10px;
  height: 90px;
  color: #fff;
  margin-top: 20px;
}

.date {
  background: transparent;
  border-radius: 10px;
  height: 30px;
  color: #fff;
  margin-top: 20px;
}

.rating {
  background: transparent;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: #fff;
  margin-top: 20px;
}

.description {
  background: transparent;
  border-radius: 10px;
  height: 172px;
  color: #fff;
  margin-top: 20px;
}

.butt {
  height: 40px;
  width: 80px;
  background: #444444;
  border-radius: 10px;
  margin-top: 60px;
}

.iconC{
  margin-top:15px;
}
