.detail {
    background-image: url("./home-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100%;
    overflow: hidden;
    scroll-behavior: hidden;




    color: grey;
  }

  .detail-container {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }