.detail {
    background-image: url("./home-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100%;
    overflow: hidden;
    scroll-behavior: hidden;
    color: grey;
  }

  .detail-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .iconD{
    margin-top: 10px;
  }

  .descriptionD{
    width: 350px;
    border: 2px solid;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
  }

  .date-rat{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
  }

  .plat-gen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    justify-content: center;
    align-content: center;
    margin-right: 30px;
  }

  .rat{
    margin-right: 50px;
  }

  .plat{
    margin-right: 65px;
  }

  .left{
    align-self: stretch;
  }