.detail {
    background-image: url("./home-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100%;
    overflow: hidden;
    scroll-behavior: hidden;




    color: grey;
  }