.home {
  background-image: url("./home-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: hidden;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: 60px;
  margin-left: 18px;
  margin-right: 18px;
  height: 40px;
}
.filtros {
  background-color: #141414;
  border: 2px solid;
  border-color: #5e5e5e;
  width: 190px;
  height: 50px;
  border-radius: 50px;
  color: #ffffff77;
  font-size: large;
  font-weight: 600;
}
.allfilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  align-content: space-between;
  height: 380px;
}
.card {
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  border: 2px solid;
  border-color: #b9b9b9;
  color: #2e2e2e;
  width: 190px;
  height: 125px;
  overflow: hidden;
  align-content: space-between;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  align-items: flex-end;
  flex-wrap: wrap;
}
.card_image {
  width: 100%;
}
.navbar {
  display: flex;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 28px;
  justify-content: center;
  align-items: stretch;
}
input#header-search.bar {
  width: 400px;
  color: silver;
  font-size: larger;
  padding-left: 20px;
}
.bar {
  background-color: transparent;
  border-radius: 35px;
  color: silver;
}
#input {
  height: 70px;
}
.home_algo {
  margin-left: 7px;
  width: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.home_icon_container {
  margin-top: 18px;
  margin-left: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px transparent solid;
  border-color: grey;
  position: absolute;
  color: silver;
  font-weight: bold;
}
.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 90px;
}
.detail_icon {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 40px;
  border: 2px solid;
  border-color: #5e5e5e;
  border-radius: 50px;
  width: 188px;
  font-size: 20px;
  border-left-style: inset;
  color: #c9c9c9;;
  font-weight: bold;
}
.card-image {
  min-block-size: -webkit-fill-available;
}
.card-title {
  display: flex;
  position: absolute;
  width: inherit;
  justify-content: center;
  text-align: center;
  width: 180px;
  text-shadow: 1px 1px 2px white;
  color: black;
}
.pagerb {
  border-radius: 30px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
}
.detail_img {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}
.icon_title{
  margin-bottom: 3px;
  
}
