.start {
  background-image: url("./landing.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-bottom: 100%;
  overflow: hidden;
  scroll-behavior: hidden;
 
}
.start_button {
  border-radius: 7px;
  position: absolute;
  color: black;
  top: 51%;
  left: 45.5%;
  background-color:grey;
  font-size:33px;
  border-color: #464646;
}
.title{
    color: silver;
    font-size: 37px;
    position: absolute;
    top: 2%;
  left: 10%;

}
